<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h3>This page is belongs to @<%= data.name  %></h3>
    <button>Follow</button>
    <button>Message</button>
    
 <h3>Accounts that follows You</h3>
     

        <p> Followers : <%= data.followers  %> &nbsp; &nbsp; &nbsp; 
         Following : <%= data.following %></p>

       <hr>


         <% for(let post in data.posts) {%>
            
            <img src="<%= post.image %>" alt="Post image"/>
            <p> Comments : <%= post.comments  %> &nbsp; &nbsp; &nbsp; 
                Likes : <%= post.likes %> </p>
                <% } %>
       
</body>

</html>